/* Style all p tags. this is to learn the use of comments */

h1 {
    text-align: initial;
    text-transform: uppercase;
    font-family: calibri;
    font-size: 24px;
    padding: 25px;
    background-color: rgb(149, 189, 180);
    color: lavenderblush;
    }

.intro {
    padding: 20px;
    background:rgb(149, 189, 180);
    margin:0 auto;
    line-height: 29px;
    }

img {
    float: left;
    margin-right: 4px;
    padding: 10px;
    }

p   {
    font-size: 16px;
    font-family: calibri;
    color: lavenderblush;
    }

.visitor {
    float: left;
    background: #E9967A;
    width: 29%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    }

h2 {
    font-size: 18px;
    font-family:calibri;
    color: lavender;
    }

.explore {
    padding: 80px;
    display: block;
    float: left; 

    }

